---
services:
  emby:
    image: ghcr.io/linuxserver/emby
    container_name: emby-debridav
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
      # Uncomment the lines below to use Nvidia GPUs for Hardware Transcoding
      # - NVIDIA_VISIBLE_DEVICES=all
      # - NVIDIA_DRIVER_CAPABILITIES=all
    depends_on:
      - rclone
    volumes:
      - ./emby-config:/config
      - ${DEBRIDAV_MOUNT_PATH_HOST_FS}:${DEBRIDAV_MOUNT_PATH_CONTAINERS}:rshared
#      - /opt/vc/lib:/opt/vc/lib #optional
    ports:
      - 8097:8096
#      - 8921:8920 #optional
    # devices:
    #   - /dev/dvb:/dev/dvb # Uncomment this device for typical USB TV Tuner cards
    #   - /dev/dri:/dev/dri # Uncomment this to use intel GPUs for Hardware Transcoding
    # Uncomment the lines below to use Nvidia GPUs for Hardware Transcoding
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: 1
    #           capabilities: [gpu]
