name: Master build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{secrets.PERSONAL_ACCESS_TOKEN}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get next version
        id: get_next_version
        uses: thenativeweb/get-next-version@main

      - name: Has next version?
        run: echo 'hasNextVersion ${{ steps.get_next_version.outputs.hasNextVersion }}'

      - name: Create release
        id: create-release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{secrets.PERSONAL_ACCESS_TOKEN}}
        with:
          tag_name: v${{ steps.get_next_version.outputs.version }}
          release_name: v${{ steps.get_next_version.outputs.version }}
          draft: false
          prerelease: false
        if: ${{ steps.get_next_version.outputs.hasNextVersion == 'true'}}

      - name: Parse semver string
        id: semver_parser
        uses: booxmedialtd/ws-action-parse-semver@v1
        with:
          input_string: '${{ steps.get_next_version.outputs.version }}'
        if: ${{ steps.get_next_version.outputs.hasNextVersion == 'true' }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ steps.get_next_version.outputs.hasNextVersion == 'true' || github.event_name == 'workflow_dispatch' }}

      - name: Build and push docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/jtdevops/debridav:v${{ steps.get_next_version.outputs.version }}
            ghcr.io/jtdevops/debridav:v${{ steps.semver_parser.outputs.major }}
            ghcr.io/jtdevops/debridav:v${{ steps.semver_parser.outputs.major }}.${{ steps.semver_parser.outputs.minor }}
            ghcr.io/jtdevops/debridav:latest
        if: ${{ steps.get_next_version.outputs.hasNextVersion == 'true' }}

      - name: Build and push docker image (manual trigger)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/jtdevops/debridav:latest
        if: ${{ github.event_name == 'workflow_dispatch' && steps.get_next_version.outputs.hasNextVersion != 'true' }}

